@model Usuario
@{
	Layout = "_LayoutExterno";
}

<div class="col-lg-4 col-12"></div>
<div class="col-lg-4 col-12">

	<h3 class="mb-4 pb-2 text-center">Crear cuenta</h3>

	@if(ViewBag.Mensaje != null)
	{
		<div class="alert alert-danger" role="alert">
			@ViewBag.Mensaje
		</div>
	}

	<form asp-action="Registro" asp-controller="Home" class="custom-form contact-form" role="form">
		<div class="row">
			<div class="col-lg-12  col-12">
				<div class="form-floating">
					<input type="text" asp-for="Indentificacion" class="form-control" placeholder="Name" required="">
					<label for="floatingInput">Identificacion</label>
				</div>
			</div>

			<div class="col-lg-12  col-12">
				<div class="form-floating">
					<input type="text" asp-for="Nombre" class="form-control" placeholder="Name" required="">
					<label for="floatingInput">Nombre</label>
				</div>
			</div>

			<div class="col-lg-12  col-12">
				<div class="form-floating">
					<input type="text" asp-for="CorreoElectronico" class="form-control" placeholder="Name" required="">
					<label for="floatingInput">Correo Electronico</label>
				</div>
			</div>

			<div class="col-lg-12 col-12">
				<div class="form-floating">
					<input type="password" asp-for="Contrasenna" class="form-control" placeholder="Name" required="">

					<label for="floatingInput">Contraseña</label>
				</div>
			</div>
			<div class="col-lg-6 col-12">
				<button type="submit" class="form-control">Procesar</button>
			</div>
			<div class="col-12 text-center mt-4">
				<a asp-controller="Home" asp-action="Login" class="text-white">
					¿Ya tienes una cuenta? Inicia sesion
				</a>
			</div>

		</div>
	</form>
</div>